RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|css|img|js|themes|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
Options All -Indexes